 body {
    margin: 0;
    background-image: url('bgp.jpeg');
    padding: 0;
    width: 100%;
    height: 100%;
    color: black;
    font-weight: 100;
}

.container {
    width: 500px;
    margin: auto;
}

.content {
    text-align: center;
    margin: auto;
    width: 100px;
}
.form-control {
    margin: 10px;
}
.title {
    font-size: 100px;
    margin-bottom: 40px;
}